#p1{
    color:#F2E205;
    background-color: #F25116;
    padding: 15px;
    margin-top: 20px;
}
.paragraph{
text-align: read;
color:#BDE038;
background-color: black;
}
h3{
    text-align: center;
    color:red
}